{% extends 'base.html' %}

{% block content %}
<div class='col-sm-8'>
        <div class="page-header" >
                <h1>{{product.title}}</h1>
            Price: {{ product.price }}
{#                    <a href='{% url "update_cart" product.slug %}' class='pull-right'>Add to Cart</a><hr/>#}
{#                Price: {{product.price}}</br>#}
{#                Shipping: Free with $25+ purchase#}
           
 {{product.description|linebreaks}}
</div> 
</div>
{% comment %} {{ product.price}} {% endcomment %}
{% for img in images %}
    {% if img.featured %}
    <div class="col-xs-12 col-md-6">
    <h1>Featured</h1>
        <img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image.url }}" alt="img"/>     
            
    {% else %}
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
       <img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image.url }}" alt="img"/>     
            
    </a>
    </div>
    {% comment %} <p>Not Featured</p>
    <img class='img-table-responsive' src="{{ MEDIA_URL }}{{ img.image }}"> {% endcomment %}
    {% endif %}
    {% comment %} {% if not img.featured %}
        <img class='img-table-responsive' src="{{ MEDIA_URL }}{{ img.image }}">
    {% endif %} {% endcomment %}
{% endfor %}
{% endblock %} 



{% comment %} 
{% block content %}

{#---------DIANA'S CODES------------- #}
<div class="page-header">
        <h1>{{product.title}}</h1>
    </div>


<div class='row'>
<div class='col-sm-4'>
{% for img in images %}
{% if img.featured %}
<div class="col-xs-12">
<img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image.url }}" alt="img"/><hr/>     
</div>
{% endif %}
{% endfor %}
{% for img in images %}
{% if not image.featured %}
<div class="col-xs-6">
    <a href="#" class="thumbnail">
        <img class='img-responsive' src="{{ MEDIA_URL }}{{ img.image.url }}" alt="img"/>
    </a>
</div>  
{% endif %}

{% endfor %}
</div>
<div class='col-sm-8'>
        <div class="page-header" >
                <h1>{{product.title}}</h1>
            Price: {{ product.price }}
{#                    <a href='{% url "update_cart" product.slug %}' class='pull-right'>Add to Cart</a><hr/>#}
{#                Price: {{product.price}}</br>#}
{#                Shipping: Free with $25+ purchase#}
           
{#    {{product.description|linebreaks}}#}
</div> 
</div>
</div>
{% endblock %}
{%endcomment%}